body {
    text-align: center;
    background-color: lavenderblush;
}

ul {
    list-style-type: circle;
    color: black
}

h1 {
    text-align: center;
    color: red
}

p {
    text-align: center;
}
