body {
    background-color: lavenderblush;
}

ul {
    text-align: left;
    list-style-type: circle;
    color: black
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}
